<div class="jumbotron">
    <h1 class="display-4">Corona Covid-19 Tracker</h1>
    <p class="lead">Lorem ipsum dolor sit amet,
         bonorum omnesque ocurreret in pro, volumus molestiae at mea. Pro impedit corpora pertinacia te, nam viderer nominati urbanitas ea. Consequat assueverit has ei. Usu an nulla ridens,
         nonumy splendide scripserit cu pro. Ius sumo expetenda at.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, 
        bonorum omnesque ocurreret in pro, volumus molestiae at mea. Pro impedit corpora pertinacia te,
         nam viderer nominati urbanitas ea. Consequat assueverit has ei. Usu an nulla ridens, nonumy splendide scripserit cu pro. Ius sumo expetenda at.</p>
</div>